@import url(https://fonts.googleapis.com/css?family=Pacifico);

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  padding-top: 54px;
  color: #6f6f6f;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.navbar-brand {
  font-family: "Pacifico", cursive;
  font-size: 25px !important;
}
.username-link {
  display: inline-block;
}
.bg-mb-bleu {
  background-color: #2f8ca9fc !important;
}

a,
a:hover,
a:focus,
input:focus {
  text-decoration: none;
  outline: none;
  color: #02743a;
}
.ads-icon {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 250px;
}
.ads-icon li {
  float: left;
}
.ads-icon li a {
  display: block;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
}

.divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.card-img-top {
  width: 100%;
  height: 136px;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.section {
  padding: 60px 0 60px;
  margin-bottom: 30px;
}

.section-login {
  padding: 30px 0 30px;
  margin-bottom: 49px;
}
.side-filter {
  padding: 130px 0 30px;
}
.side-filter .side-condition .list-group-item,
.side-filter .side-nearby .list-group-item,
.side-filter .side-cat .list-group-item {
  border-color: #f8f9fa;
  border-radius: 0;
  cursor: pointer;
}
.side-nearby .nearbyHidden {
  display: block;
}
.side-cat .category-filter,
.side-nearby .category-filter,
.side-condition .category-filter {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
}

.side-cat .sub-filter {
  text-transform: uppercase;
  font-size: 12px;
}
ul {
  list-style-type: none;
}

.btn-postAds {
  color: #6f6f6f;
  background-color: #fff;
  border-color: #fff;
}

.btn-dropCateg {
  color: #6f6f6f;
  background-color: #fff;
  border-color: #fff;
  height: 38px;
  width: 220px;
}
.btn-dropSearch {
  color: #6f6f6f;
  background-color: #eeeeee5c;
  border-color: #d6d2d2 !important;
  height: 38px;
  width: 213px;
}
#exampleInputPostcode1 {
  color: #6f6f6f;
  background-color: #eeeeee5c;
  border-color: #d6d2d2 !important;
}
.btn-nearby {
  height: 38px;
  width: 213px;
}
#exampleInputEmail1 {
  color: #6f6f6f;
  font-size: 12px;
  border-color: #fff;
}

.mb-category-ads .category-search {
  margin-top: 30px;
  position: relative;
  min-height: 130px;
  padding: 25px 30px;
  background: #f8f9fa;
  border-radius: 4px;
  border: none;
}

.mb-category-ads .input-section-search {
  margin: 0 -21px 0px -54px;
  display: inline-flex;
}

.mb-category-ads .mb-title-section {
  margin-bottom: 55px;
  text-align: center;
  position: relative;
  padding-bottom: 15px;
}

.mb-category-ads .mb-title-section:after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: 0;
  height: 2px;
  width: 90px;
  margin-left: -45px;
  background-color: #2f8ca9a3;
}

.mb-category-ads .mb-title-section h2 {
  color: #6f6f6f;
  font-weight: 500;
  margin-bottom: 15px;
  position: relative;
  text-transform: capitalize;
  font-family: "Pacifico", cursive;
}

.mb-category-ads .title-ct {
  max-width: 650px;
  display: inline-block;
}

.mb-category-ads .mb-title-section p {
  font-size: 14px;
}

.mb-category-ads .mb-title-section h5 {
  color: #6f6f6f;
  font-weight: 500;
  margin-bottom: 15px;
  position: relative;
  text-transform: capitalize;
}

.mb-category-ads .category-ads {
  margin-top: 30px;
  position: relative;
  min-height: 250px;
  padding: 25px 30px;
  background: #fff;
  border-radius: 4px;
  border: none;
}

.mb-category-ads .category-ads h5 {
  font-size: 16px;
  color: #505050;
  font-weight: 500;
  margin: 0 0 15px;
}

.mb-category-ads .category-ads h5 a {
  color: #505050;
}

.mb-category-ads .category-ads span {
  font-size: 12px;
  display: block;
  font-weight: 500;
  line-height: 20px;
  color: #2f8ca9a3;
}

.mb-category-ads .category-ads ul {
  -webkit-padding-start: 0px;
  margin-bottom: 0;
}

.mb-category-ads .category-ads li {
  margin-bottom: 7px;
  padding: 15px 40px;
  position: relative;
  text-transform: capitalize;
  display: inline-block;
}

.mb-category-ads .category-ads li a {
  color: #6f6f6f;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.mb-category-ads .category-ads li a:hover,
.mb-category-ads .category-ads h5 a:hover {
  color: #2f8ca9a3;
}

.mb-category-ads .category-ads li:before {
  position: absolute;
  /* content: "\f105"; */
  color: #2f8ca9a3;
  padding-top: 1px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  left: 0;
  top: 0;
}

.mb-category-ads .fa-tshirt,
.mb-category-ads .fa-female,
.mb-category-ads .fa-concierge-bell,
.mb-category-ads .fa-gamepad,
.mb-category-ads .fa-bed,
.mb-category-ads .fa-home,
.mb-category-ads .fa-car,
.mb-category-ads .fa-church {
  font-size: 45px;
  margin-bottom: 10px;
  color: #2f8ca9a3;
}
.mb-category-ads .fa-home {
  margin-left: 32px;
}
.mb-category-ads .fa-car {
  margin-left: 52px;
}
.mb-category-ads .fa-female {
  margin-left: 19px;
}
/*Login section  */
.login-card {
  background-color: #fff;
  border: 1px solid #2f8ca9a3;
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.175);
}
.btn-login-submit {
  width: 300px;
  background: #2f8ca9a3;
  color: #fff;
}

.login-card .login-card-body {
  margin-top: 30px;
  padding: 45px;
}

.login-card #inputEmail,
#inputPassword {
  width: 300px;
  box-shadow: none;
  -webkit-box-shadow: none;
  border: 1px solid #e3e3e3;
  height: 44px;
  color: #777;
}

.login-card .card-header-login {
  padding: 8px 45px 14px 45px !important;
  background-color: #2f8ca9a3;
  border-bottom: 1px solid #2f8ca9a3;
  color: #fff;
  font-family: "Pacifico", cursive;
  font-size: 21px;
}

/* list of ads   */
.card-subtitle {
  font-size: 14px;
}
.section-listAds {
  padding: 130px 0 30px;
  margin-bottom: 49px;
}
.section-listAds .card-ads {
  border-color: #f8f9fa;
  border-radius: 0;
}
.section-listAds .ads-icon {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 250px;
}
.section-listAds .ads-icon li {
  float: left;
}
.section-listAds .ads-icon li a {
  display: block;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
}

.section-listAds .divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.section-listAds .card-img-top {
  width: 100%;
  height: 136px;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}
.section-listAds .card-price {
  width: 100px;
  float: right;
}
.section-listAds .card-price-wrap {
  position: absolute;
  right: 0;
  z-index: 10;
  font-size: 14px;
  background-color: #2f8ca9fc;
  color: #fff;
  padding: 4px 10px;
  display: block;
  font-weight: 500;
}
.section-listAds .item-detail {
  border-right: 1px solid;
}
.section-listAds .detail-below {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 250px;
}
.section-listAds .detail-below li {
  float: left;
  margin: 15px 0 5px 0;
}
.section-listAds .item-detail a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 0px 20px 0px 20px;
  font-size: 13px;
  color: #1e1e29bd !important;
}
.nearby-btn,
.condit-btn,
.search-btn,
.cat-btn {
  color: #2f8ca9fc;
  text-transform: uppercase;
}
.icon-plusMinus {
  float: right;
  vertical-align: middle;
  color: #2f8ca9fc;
}
.section-listAds .detail-first a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 0px 20px 0px 0px;
  font-size: 13px;
  color: #1e1e29bd !important;
}

.section-listAds .card-text p {
  margin-bottom: 0;
  width: 556px;
  font-size: 14px;
  color: #1e1e29bd;
}
.section-listAds .fa-heart,
.section-listAds .fa-bookmark,
.section-listAds .fa-share-alt {
  color: #2f8ca9fc;
}

.section-carousel {
  padding: 133px 0 0px;
}

.section-detail .card-ads-detail {
  border-color: #f8f9fa;
  border-radius: 0;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.side-filter .side-condition,
.side-filter .side-nearby,
.side-filter .side-cat-ads {
  border-color: #f8f9fa;
  border-radius: 0;
}
.side-filter .category-filter .amountNo {
  font-size: 12px;
  opacity: 0.3;
  color: #fffffffc;
  background-color: #2f8ca9fc;
  width: 20px;
  height: 20px;
  border-radius: 23px;
  padding: 1px;
  display: inline-block;
  text-align: center;
}
.side-form {
  padding-right: 0px !important;
  padding-left: 0px !important;
  padding: 30px 0 30px;
  border-radius: 0;
}

.ads-contact {
  padding: 15px 20px;
}
.ads-contact h4 {
  font-size: 17.5px;
  padding: 15px 0 15px 0;
}
.ad-dt,
.ad-dt-form {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.seller-info {
  font-size: 14px;
}
.seller-info .btn-form {
  border-radius: 7px;
  font-size: 13px;
  background: #2f8ca9fc;
  border-color: #2f8ca9fc;
  color: #ffff !important;
}
.seller-info .btn-form:hover {
  background: #2f8ca9fc;
  border-color: #2f8ca9fc;
  opacity: 0.6;
  transition: 0.3s;
}
.section-detail .card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 2.25rem;
}
.section-detail .card-text {
  padding-left: 17px;
  font-size: 14px;
}
.section-detail .ads-date {
  font-size: 14px;
  opacity: 0.5;
  font-weight: 500;
}
.section-detail .ads-price {
  float: right;
  font-size: 14px;
  opacity: 0.8;
  font-weight: 500;
  color: #2f8ca9fc;
  text-transform: uppercase;
}

.section-detail .ad-detail h5 {
  color: #000;
  padding-left: 15px;
  font-size: 1.1rem;
  font-weight: 500;
}
.sub-filter {
  font-size: 14px;
}

.section-detail .ad-detail {
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}

.card-ads {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.ads-status {
  font-size: 14px;
  opacity: 0.5;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
}

/* post ads */
.separator-text {
  position: relative;
  overflow: hidden;
  min-height: 10px;
  text-transform: uppercase;
}
.separator-text:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  height: 1px;
  width: 99.5%;
  background-color: #e1e1e1;
}
.card-title {
  text-transform: uppercase;
}
.ad-detail h5 {
  text-transform: uppercase;
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
}

.separator-text span {
  font-family: "Oswald", sans-serif;
  display: inline-block;
  padding: 0 20px 0 0;
  background-color: #f8f9fa;
  text-transform: uppercase;
  font-size: 12px;
}

.post-title {
  font-size: 30px !important;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.post-title:after {
  content: "";
  position: absolute;
  border-bottom: 3px solid #17a2b8;
  width: 75px;
  left: 16px;
  top: 38px;
}
.btn-submit {
  position: relative;
  overflow: hidden;
  background-color: #009688;
  color: #fff;
  text-transform: uppercase;
  z-index: 0;
  padding: 0 30px !important;
  height: 50px;
  min-width: 90px;
  transition: all 0.2s ease;
  outline: none !important;
  margin-right: 7px;
  border-radius: 0 !important;
}
.btn-submit:hover {
  color: #fff;
  opacity: 0.5;
}

/* second navbar */

.bg-secondo {
  background-color: #fff;
  /* border-bottom: 1px solid #00000036; */
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
  padding: 0rem 0rem !important;
}
.sticky {
  position: fixed !important;
  top: 63px;
  width: 100%;
  z-index: 1030;
}
.second-item {
  border-right: 1px solid #1d1d1d12;
  height: 70px;
  padding: 13px 40px 5px 40px;
}
.first {
  padding: 13px 40px 5px 0px !important;
}
.mat {
  padding-left: 0rem !important;
}
.last {
  border-right: 0px solid #1d1d1d12 !important;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.8);
}
@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
  @media (min-width: 1366px) {
    body {
      padding-top: 56px;
    }
  }
}

/* user list  */
.header-userlist {
  color: #2f8ca9a3;
  font-family: "Pacifico", cursive;
  font-size: 25px;
  padding: 5px 0 20px 0;
}
tbody.databody span {
  padding: 0px 10px 0px 10px;
}
tbody.databody .tbeye {
  color: #2f8ca9;
}
tbody.databody .tbbin {
  color: #e51c23;
}
tbody.databody .tbedit {
  color: #4caf50;
}
.modal-body #exampleInputEmail1 {
  color: #6f6f6f;
  font-size: 12px;
  border: 1px solid #ced4da !important;
  height: 40px;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 770px !important;
    margin: 1.75rem auto;
  }
}

.modal-content {
  height: 600px;
}

/* profil */

.user-number {
  float: left;
  padding: 0px 40px;
  text-align: center;
  border-left: 1px solid #f5f5f5;
  font-size: 18px;
  color: #0000009c;
  font-weight: 500;
}

.credit-number {
  font-size: 50px;
  font-weight: 500;
  font-family: "Pacifico", cursive;
  color: #2f8ca9fc !important;
  display: block;
}
.alert-danger {
  border-radius: 0;
  box-sizing: border-box;
  position: fixed;
  margin-top: 133px;
  border-radius: 0px;
}
.tabl-descri {
  white-space: nowrap;
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.alert-warning {
  border-radius: 0;
  box-sizing: border-box;
  position: fixed;
  margin-top: 133px;
  border-radius: 0px;
  float: right;
}

.sucess-sent {
  text-align: center;
  padding: 20px 0 20px 0;
  color: #57ab6a;
}
.wrap-message {
  padding: 10px 0 10px 0;
  border-bottom: 1px #eee solid;
  border-top: 1px #eee solid;
}
.text-mgs strong {
  padding: 10px 0 10px 0;
  color: #0000009c;
}
.wrap-message {
  margin: 15px 0 15px 0;
  line-height: 23px;
  font-size: 14px;
}
.wrap-message p {
  margin: 15px 0 15px 0;
  line-height: 23px;
  font-size: 14px;
}
.date-text {
  color: #0000009c !important;
  display: inline-block !important;
  font-size: 14px !important;
  float: right;
}
.user-name h2 {
  font-weight: 300;
  color: #0000009c;
  margin-top: 30px;
  font-family: "Pacifico", cursive;
}
.user-name a {
  color: #2f8ca9fc;
  text-decoration: none;
}
.user-name h5 {
  font-weight: 300;
  color: #2a2a2a;
  margin-top: 15px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
}
.user-ad {
  padding: 15px;
  overflow: hidden;
  position: relative;
  border: 1px solid #f3f3f3;
  margin: 18px 0;
  border-radius: 2px;
}
.user-ad .item-info {
  min-height: 0;
  overflow: hidden;
}
.item-image-box {
  overflow: hidden;
}
.item-image-box,
.item-info {
  padding: 0;
  margin: 0;
}
.user-ad .ad-info {
  padding: 5px 25px;
}

.user-ad .ad-info span {
  color: #000;
  font-size: 20px;
  display: block;
  margin-bottom: 10px;
  line-height: 17px;
}
.user-ad .ad-meta {
  position: inherit;
  background-color: transparent;
  border-top: none;
  padding-left: 0;
  min-height: inherit;
  display: inline;
}
.user-ad .ad-meta li {
  display: inline-block;
  padding: 0px 15px 0px 0;
}
.user-ad .ad-meta ul {
  padding: 10px 0 10px 0;
}

/* loader */
.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
